/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../css/roboto-v20-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
    background-color: #0089c6;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100vh - 50px);
    position: relative;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #4f4f4f;
}

.footer{
    position: absolute;
    bottom: 10px;
    width: 95%;
}