{% extends "base.html" %}
{% block content %}
<div>
    <div class="mui--text-center">
        <div class="mui--text-display2 title">Kreditkarte Autorisieren</div>
    <br>
    <img src='{{ static_url("svg/download.png") }}' width="400"  />
    <p>Jetzt einfach Kreditkarte oder Handy ans Lesegerät halten, um eine Zahlung zu vorautorisieren.<br> Es wird ein
        Betrag auf ihrer Karte reserviert und der Rest wird nach der kompletten Ladung storniert. <br>Wie bei Mietwagen oder
        Hotels.</p></div>
</div>
<div class="footer">
    <div class="mui--text-display1" id="timer">35s</div>
</div>
<script src='{{ static_url("js/authorise.js") }}'></script>
{% end %}
