<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='{{ static_url("css/mui.min.css") }}' rel="stylesheet" type="text/css"/>
    <script src='{{ static_url("js/mui.min.js")}}'></script>
    <link href='{{ static_url("css/base.css") }}' rel="stylesheet" type="text/css"/>
    <link href='{{ static_url("css/loading.min.css") }}' rel="stylesheet" type="text/css"/>
    <link href='{{ static_url("css/ldbtn.min.css") }}' rel="stylesheet" type="text/css"/>
    {% block styles %}{% end %}
</head>
<body>
<div class="mui-container">
    <div class="mui-panel panel">
        {% block content %}{% end %}
    </div>
</div>
<script src='{{ static_url("js/base.js")}}'></script>
</body>
</html>