{% extends "base.html" %}
{% block styles %}
<link href='{{ static_url("css/chargepoints.css") }}' rel="stylesheet" type="text/css"/>
{% end %}
{% block content %}
<div>
    <div class="mui--text-center">
        <div class="mui--text-display2 title">Ladepunkt auswählen!</div>
    </div>
    <div class="chargepoints">
        {% if chargepoints is not None %}
        {% for cp in chargepoints %}
        <div class="mui-panel cp-panel">
            <div class="mui--text-subhead">{{ cp['id'] }}</div>
            <br>
            <div><span class="dot {% if cp['status'] != 'AVAILABLE' %}red{% end %}"></span>
                <div class="availability">{{ cp['status']}}</div>
            </div>
            <br>
            <a href="{{ cp['url'] }}"
               class="mui-btn mui-btn--small mui-btn--primary ld-ext-right {% if cp['status'] != 'AVAILABLE' %}disabled{% else %} mui-btn--raised{% end %}"
               onclick="this.classList.toggle('running')">Hier Laden!
                <div class="ld ld-ring ld-spin"></div>
            </a>
        </div>
        {% end %}
        {% else %}
        <p> Kein Ladepunkt verfügbar. Eventuell ist der Controller offline.</p>
        {% end %}
    </div>
    <div class="footer">
        <div class="mui-btn mui-btn--primary mui-btn--raised ld-ext-right"
             onclick="this.classList.toggle('running');window.location.reload();">Neu Laden
            <div class="ld ld-ring ld-spin"></div>
        </div>
    </div>
</div>
{% end %}