{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href='{{ static_url("css/tingle.min.css") }}'>
{% end %}
{% block content %}
    <div><h1>Rechtsbumms</h1>
    <br>
        <p>Die Ladung an dem Ladepunkt {{evseid}} wird {{euro}} Euro pro Minute kosten!</p>
        Wenn Sie fortfahren, stimmen sie <button id="agb" onclick="showAgb()">den AGB</button> und <button id="pp" onclick="showPP()">Privatsphären</button> Bumms zu.
    </div>
    <a href="{{ url }}">Zurück</a>  <a href="{{ url2 }}">WEITER</a>
    <script src='{{ static_url("js/tingle.min.js") }}'></script>
    <script src='{{ static_url("js/showTarif.js") }}'></script>
{% end %}